/* *** ************************************************************************************* *** */
/* *** * GENERIC APP STYLES **************************************************************** *** */
/* *** ************************************************************************************* *** */

html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#mainWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--accent-color-green);
}

.wrapperOverflow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth
}

#splashScreen.active, #homePage.active {
    opacity: 1;
    z-index: 500;
}

.yellowText {
    color: var(--accent-color-yellow)
}

.redText {
    color: var(--accent-color-red)
}


/* *** ************************************************************************************* *** */
/* *** * SPLASHSCREEN ********************************************************************** *** */
/* *** ************************************************************************************* *** */
#splashScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
    opacity: 0;
    background-color: var(--accent-color-green);
    z-index: -1;
    transition: all 400ms ease-out;
}

#splashScreen .container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 100%;
max-width: 370px;
height: 100%;
margin: 0 auto;
}

#splashScreen .container h1 figure {
    width: 100%;
    max-width: 250px;
}

#splashScreen .container h1 figure figcaption {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: var(--light-text-color);
    text-align: center;
}

#splashScreen .container h1 figure figcaption span {
    font-weight: 600;
}

#splashScreen .container h1 figure img {
display: block;
width: 100%;
max-width: 250px;
height: auto;
margin-bottom: 16px;
}

#splashScreen .container button#enterButton {
width: 100%;
max-width: 300px;
height: 48px;
font-size: 16px;
font-weight: 600;
color: var(--dark-text-color);
margin: 0 auto;
border: none;
border-radius: 48px;
background: var(--light-background);
cursor: pointer;
}


/* *** ************************************************************************************* *** */
/* *** * HOMEPAGE ************************************************************************** *** */
/* *** ************************************************************************************* *** */
#homePage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: lime;
    z-index: -1;
    transition: all 400ms ease-out;
}

/* *** ************************************************************************************* *** */
/* *** ************************************************************************************* *** */
/* *** ************************************************************************************* *** */