/* *** ************************************************************************************* *** */
/* *** * GENERIC APP STYLES **************************************************************** *** */
/* *** ************************************************************************************* *** */

html,
body {
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

#mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#mainWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--accent-color-green);
}

.wrapperOverflow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth
}

#splashScreen.active,
#homePage.active {
    opacity: 1;
    z-index: 500;
}

.yellowText {
    color: var(--accent-color-yellow)
}

.redText {
    color: var(--accent-color-red)
}

.rating {
padding: 1px 8px 1px 3px;
border-radius: 8px;
background: var(--light-background);
}

.rating div {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}

.rating div span {
font-size: 16px;
color: inherit;
}

.rating div span img {
width: 20px;
height: auto;
margin-right: 5px;
}


.rating-score-0 {
    color: #FF0000;
}

.rating-score-1 {
    color: #FFA700;
}

.rating-score-2 {
    color: #FFF400;
}

.rating-score-3 {
    color: #A3FF00;
}

.rating-score-4,
.rating-score-5 {
    color: #2CBA00;
}

.star {
display: block;
width: 24px;
height: auto;
}

.star polygon {
    fill: var(--accent-color-yellow);
}

/* *** ************************************************************************************* *** */
/* *** * SPLASHSCREEN ********************************************************************** *** */
/* *** ************************************************************************************* *** */
#splashScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: stretch;
    height: 100%;
    opacity: 0;
    background-color: var(--accent-color-green);
    z-index: -1;
    transition: all 400ms ease-out;
}

#splashScreen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 370px;
    height: 100%;
    margin: 0 auto;
}

#splashScreen .container h1 figure {
    width: 100%;
    max-width: 250px;
}

#splashScreen .container h1 figure figcaption {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: var(--light-text-color);
    text-align: center;
}

#splashScreen .container h1 figure figcaption span {
    font-weight: 600;
}

#splashScreen .container h1 figure img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: auto;
    margin-bottom: 16px;
}

#splashScreen .container button#enterButton {
    width: 100%;
    max-width: 300px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-text-color);
    margin: 0 auto;
    border: none;
    border-radius: 48px;
    background: var(--light-background);
    cursor: pointer;
}


/* *** ************************************************************************************* *** */
/* *** * HOMEPAGE ************************************************************************** *** */
/* *** ************************************************************************************* *** */
#homePage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: lime;
    z-index: -1;
    transition: all 400ms ease-out;
}





/* *** ************************************************************************************* *** */
/* *** * FEATURED ************************************************************************** *** */
/* *** ************************************************************************************* *** */
#featuredHome {
    padding: 20px;
}

#featuredHome h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-text-color);
}

#featuredHomeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#featuredHomeList li {
    width: 47.5%;
    height: 100%;
    margin-bottom: 20px;
}

#featuredHomeList li article {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    background: var(--medium-background);
}

#featuredHomeList li article h3 {
    font-size: 16px;
    color: var(--dark-text-color);
}

#featuredHomeList li article figure {
    position: relative;
    width: 100%;
    border-radius: 8px;
}

#featuredHomeList li article figure img.cover {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
}

#featuredHomeList li article figure figcaption {
    position: absolute;
    top: 5px;
    right: 5px;
}

#featuredHomeList li article h3 {
font-size: 16px;
color: var(--dark-text-color);
font-weight: 600;
padding: 10px 0;
}
/* *** ************************************************************************************* *** */
/* *** * BOTTOM BAR ************************************************************************** *** */
/* *** ************************************************************************************* *** */
.bottom-bar {
    position: fixed;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dark-background);
    padding: 15px;
    width: 70%; 
    border-radius: 2rem;
    z-index: 600;
    border: 2px #000000;
     }

  .bottom-bar ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .bottom-bar li {
    text-decoration: none;
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .bottom-bar button {
    background-color: var(--dark-background);
    border: none;
    padding-left: 50%;
    padding-right: 50%;

    &:hover {
        cursor: pointer;
    }

  }