.contain-flag-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
}

.flag-card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    background-color: #F7F7F7;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.flag-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.flag-card>div:has(img) {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
}


.flag-card img {
    width: 80%;
}