
/* *** ************************************************************************************* *** */
/* *** * Medium devices (landscape tablets, 768px and up) ********************************** *** */
/* *** ************************************************************************************* *** */
@media only screen and (min-width: 768px) {

    /* *** ************************************************************************************* *** */
    /* *** * CARD TAG ********************************************************************** *** */
    /* *** ************************************************************************************* *** */

    .cards-tag {
        display: flex;
    }

}

/* *** ************************************************************************************* *** */
/* *** * Large devices (laptops/desktops, 992px and up) ************************************ *** */
/* *** ************************************************************************************* *** */
@media only screen and (min-width: 992px) {

    /* *** ************************************************************************************* *** */
    /* *** * SPLASHSCREEN ********************************************************************** *** */
    /* *** ************************************************************************************* *** */
    #splashScreen {
        align-items: center;
    }

    #splashScreen .container {
        min-height: 400px;
        max-height: 60%;
    }

    /* *** ************************************************************************************* *** */
    /* *** * HOMEPAGE ************************************************************************** *** */
    /* *** ************************************************************************************* *** */
    .wrapperOverflow {
        max-width: 900px;
        margin: 0 auto;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    
    body {
      padding: 0%;
      margin-top: 10px;
    }
    
    .container {
      border-radius: 0;
      background-color: ;
      gap: 0pc;
      padding-left: 20%;
      /* padding-top: 15px;
      padding-bottom: 15px; */
    }
    .globalInfos {
      width: 25%;
      height: auto;
      margin-left: 30px;
    }
    h1 {
      margin-bottom: 5%;
      font-size: 25px;
      text-align: center;
      flex-wrap: nowrap;
    }
    
    .globalInfos, figure.photo {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;  
    }
    
    .globalInfos {
      text-align: start;
      margin-bottom: 15px;
    }
    /* .infos div {
      display: flex;
      align-items: flex-start;
    } */
    .globalInfos, .dollar, .foodTag {
      display: grid;
      grid-column: 2/1;
      justify-content: flex-end;
      align-items: flex-end;
    }
    
    .foodTag {
      display: block;
      margin-bottom: 10%;
    }
    /* propriete pour ajuster l'image avec le parent */
    .infos {
      position: unset;
    }
    .infos div {
      display: grid;
      justify-content: flex-end;
    }
    .infos .rate, .infos .dollar{
      display: flex;
      justify-content: ;
      margin-left: 80%;
    } 
    .littleInfos figure {
      display:flex;
      flex-direction: row;
    }

    /* *** ************************************************************************************* *** */
    /* *** * FEATURED ************************************************************************** *** */
    /* *** ************************************************************************************* *** */
    #featuredHomeList li {
        width: 30%;
    }

}
   
    
    
    
    
/* *** ************************************************************************************* *** */
/* *** * Extra large devices (large laptops and desktops, 1200px and up) ******************* *** */
/* *** ************************************************************************************* *** */
@media only screen and (min-width: 1200px) {

    /* *** ************************************************************************************* *** */
    /* *** * BOTTOM BAR ************************************************************************** *** */
    /* *** ************************************************************************************* *** */
    .bottom-bar {
        display: none;
    }
}